.cascading-right {
<<<<<<< HEAD
    margin-right: -50px;
  }
  
  @media (max-width: 900px) {
    .cascading-right {
      margin-right: 0;
    }
  }
=======
    margin-right: -20px;
  }
  
  @media (max-width: 400px) {
    .cascading-right {
      margin-right: 0;
    }
  }

>>>>>>> 56af9557d59f1d94309c5bbb00cfa0f81cb45666
